.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.row{
  padding:0 20px;
  width: 50% ;
  margin: auto;
}

form{
  width: 70%;
  margin: auto;
  box-shadow: 0 6px 10px peru;
 
 
}
 input{
   width: 60%;
 }

