a {
    color: blueviolet;
}

p {
    color: hotpink;
    font-size: 80px;
    text-align: center;
}

h2 {
    color:blue;
    font-size: 50px;
}

il {
    color:rebeccapurple;
    font-size: 30px ;
}   