

*{
    margin: 0;
    padding: 0;

}


header{
    height: 70px;
    background-color: orange;
}

nav ul{
    list-style: none;
    display: flex;

}
nav ul li{
    display: flex;
    font-size:20px;
    flex: 1px;
    align-items: center;
    

}

.busca{
    display: flex;
    justify-content: flex-end;
}
img {
   margin: 30px;
   height: 200px;
   width: 200px;
   justify-content: center;
   padding: 30px 30px;
   border-radius: 50px;




}
body{
    background: url(fundo.jpg);
    background-size: 100%;

}


